In [1]:
import psycopg2

import pandas as pds

import sqlalchemy

import math

################ GROUP OF FUNCTIONS #################

def week_count(game_weeks):
    week_number = []
    counter = 1
    for x in game_weeks["game_date"]:
        week_number.append(counter)
        counter=counter+1
    return week_number

def win_percent(data_frame):
    
    #Changed Code Here
    counter = data_frame["week_number"].values.tolist()
    counter.sort()
    
    ztt = []
    for i in counter:
        if not math.isnan(i):
            ztt.append(i)
                       
    for i in range(len(ztt)):
        ztt[i] = int(ztt[i])
      
    counter = ztt[:-1]
    #End of new code
    
    game_count = [1,2,3]
    for x in counter:
        if x == 1 or x==2 or x==3 or x==4:
            data_frame.loc[x-1,"win_percent"] = .50
        if x >= 4:
            game_count.append(x)
            win_count = 0
            test = data_frame.head(x)
            for y in game_count:
                if test.iloc[y-1]["outcome"] == 'true':
                    win_count += 1
            win_percent = win_count / len(game_count)
            data_frame.loc[x,"win_percent"] = win_percent

def average_stats(data_frame):
    
    #Save columns from data_frame for later use...
    save_game_date_df = data_frame["game_date"].copy()
    save_game_id_df = data_frame["game_id"].copy()
    save_game_team_df = data_frame["team"].copy()
    save_game_opp_team_df = data_frame["opp_team"].copy()
    save_game_location_df = data_frame["game_location"].copy()
    save_week_num_df = data_frame["week_number"].copy()
    
    #Changing colums from strings to numerical values in both data frames...
    
    count = len(data_frame.index)
    index=0
    while index < count:
        data_frame.at[index,"game_id"]=(index+1)
        data_frame.at[index,"game_date"]=(index+1)
        data_frame.at[index,"team"]=1
        data_frame.at[index,"opp_team"]=0
        index+=1
    
    #New Code    
    counter = data_frame["week_number"].values.tolist()
    counter.sort()
    
    ztt = []
    for i in counter:
        if not math.isnan(i):
            ztt.append(i)
                       
    for i in range(len(ztt)):
        ztt[i] = int(ztt[i])
       
    counter = ztt
    
    #End of new code
    
    new_df = data_frame.head(4)
    
    for y in counter[:-1]:
        if y in [1,2,3]:
            continue
        if y >= 4:
            test = data_frame.head(y)
            z = test.mean()
            new_df = new_df.append(z, ignore_index=True)
            
    # Putting the original columns back into the new_df
    
    new_df["game_date"] = save_game_date_df
    new_df["game_id"] = save_game_id_df
    new_df["team"] = save_game_team_df
    new_df["opp_team"] = save_game_opp_team_df
    new_df["game_location"] = save_game_location_df
    new_df["week_number"] = save_week_num_df
    return new_df

################# END OF FUNCTIONS #################


Engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:georgetown@nflstats.cb6meldrm5db.us-east-1.rds.amazonaws.com:5432/nfl_stats', pool_recycle=3600);

dbConnection = Engine.connect();


years = pds.read_sql("""select distinct season_year from all_games_ever where season_year < 2019 order by season_year asc""",dbConnection);
years = years.season_year.unique()
year_dfs = {}
for year in years:


    ALL_GAMES = pds.read_sql("select * from ALL_GAMES_EVER where season_year = '" +str(year)+"'", dbConnection);

#Step 1
#Creates and sorts alphabetically the teams for the 2005 NFL season
    team_list = ALL_GAMES.team.unique()
    team_list = sorted(team_list)

#Step 2
#Creates a data frame for each team that contains the game_date for each game that team played for the 2005 NFL season
#Adds the week_number column to the data frame
    team_data_frames_list = {}

    for team in team_list:
        df = pds.read_sql("select distinct game_date from all_games_ever where team = '"+team+"' AND season_year = '"+str(year)+"' order by game_date", dbConnection);
        team_data_frames_list[team] = df
    
    for team in team_list:
        team_data_frames_list[team]["week_number"]=week_count(team_data_frames_list[team])

#Step 3
#Creates a data frame that contains all columns from the ALL_GAMES_ever table except game_date
#joins the data frame from step 2 to the new data frame from this step (step 3) and adds the data frame to the final_team_df dictionary

    final_team_df = {}
    for team in team_list:
        df = pds.read_sql("SELECT season_year, game_id, game_location, team, opp_team, team_score, opponent_score, team_passing_yards, team_rushing_yards, team_turnovers_taken, team_turnovers_given, opp_passing_yards, opp_rushing_yards, opp_turnovers_taken, opp_turnovers_given, outcome  FROM ALL_GAMES_EVER where team = '"+team+"' AND season_year = '"+str(year)+"' order by game_id", dbConnection);
        final_team_df[team] = df.join(team_data_frames_list[team])

#This is part of step 3, it is calling the win_percent function and calculating the win percentage and adding it as a new column in the final data frame
    for team in team_list:
        print(team)
        win_percent(final_team_df[team])
    
# Step 4 change game_location and outcome to a numerical value of 1 and 0
# Home Games will be 1 and Away 0
# Wins will be 1 and Loss will be 0

    for team in team_list:
        final_team_df[team]['game_location'] = final_team_df[team]['game_location'].map({'H': 1, 'A': 0})
        final_team_df[team]['outcome'] = final_team_df[team]['outcome'].map({'true': 1, 'false': 0})

# Step 5 calculate the teams averages for each week. This will be the teams average based on how many games the team
# has played for that season. For example, week 5 will be the team's averages for the first 4 games, week 6 will be the
# average for the first 5 games and so on. NOTE: We are not takeing averages for weeks 1-4 as these will not be used in our 
# model.

    for team in team_list:
        final_team_df[team]=average_stats(final_team_df[team])  
    
#Step 6 combines all data frames in the final_team_df dictionary into one data frame called ALL_GAMES_2005

    first_team = team_list[0]

    ALL_GAMES = final_team_df[first_team]

    for team in team_list[1:]:
        ALL_GAMES = ALL_GAMES.append(final_team_df[team])

    year_dfs[year] = ALL_GAMES
    print(year)
    print("\n")

ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2002


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2003


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2004


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2005


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2006


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2007


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2008


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2009


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2010


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2011


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2012


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2013


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2014


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
STL
TAM
TEN
WAS
2015


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
LAR
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SDG
SEA
SFO
TAM
TEN
WAS
2016


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
LAC
LAR
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SEA
SFO
TAM
TEN
WAS
2017


ARI
ATL
BAL
BUF
CAR
CHI
CIN
CLE
DAL
DEN
DET
GNB
HOU
IND
JAX
KAN
LAC
LAR
MIA
MIN
NOR
NWE
NYG
NYJ
OAK
PHI
PIT
SEA
SFO
TAM
TEN
WAS
2018

In [2]:
ALL_GAMES_EVER = year_dfs[2002]


for x in [2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018]:
    ALL_GAMES_EVER = ALL_GAMES_EVER.append(year_dfs[x])

In [19]:
x=ALL_GAMES_EVER['team'].where(ALL_GAMES_EVER['game_id'] == '201010110nyj')
x=x.fillna(0)

In [12]:
print(type(x))

<class 'pandas.core.series.Series'>

In [20]:
for y in x:
    if y is not 0:
        print(y)

MIN
NYJ